.header {
    
}
.footer{
    background-color: gray;
    
}
.footer a {
    color: #000;
    text-decoration: none;
}
.footer a:hover {
    color: red;
}
.footer a:active {
    color: greenyellow;
}
.heading {
    color: none;
    background-color: #eaeaea;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    
} 
.fon {
    color: darkblue;
    background: url(img/tif.webp) no-repeat 20px 40px;
    
}
.list {
    list-style-type: none;
}
.list > li {
    color: none;
    font-size: 18px;
    font-style:oblique;
    line-height: 21px;
}
.link {
   text-decoration: none;
    color: forestgreen;
}
h1,
h2,
p{
    text-align: center
}
.menu li:first-child{ 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}
.menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ccc;
}
.menu li:last-child a{ 
    color: coral;
}
.menu li {
    list-style-type: none;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    
}
.menu li a {
    text-decoration: none;
    color: forestgreen;
}
.menu li a:hover {
    color: red;
}
.menu li a:active {
    color: greenyellow;
}
.background{
    background-color: #f8f8f8;
}
.har{
    border: 1px solid #000;
    width: 400px;
    height: 300px;
    border-collapse: collapse;
}
.har td{
    border: 1px solid black;
    padding-left: 10px;
    vertical-align: bottom;
    text-align: start;
}
.hst{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.pak{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
input[type=text]{
    width: 200px;
    font-style: italic;
    color: #707070;
    
}
input[type=password]{
    width: 200px;
    font-style: italic;
    color: #707070;
}
input[type=submit]{
    width: 250px;
    font-style: normal; 
}







